Repository getrapidkit/rapidkit-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: core-workflows-policy, black, mypy, rapidkit-modules-doctor-fast, update-modules-lock

core-workflows-policy:
  name: core workflows policy (no auto triggers)
  entry: poetry run python
  language: system
  args:
  - scripts/check_core_workflows_policy.py
  pass_filenames: false
  stages:
  - pre-commit

black:
  name: black (format)
  entry: poetry run black
  language: system
  args:
  - --quiet
  stages:
  - pre-commit
  require_serial: true

mypy:
  name: mypy (type-check)
  entry: poetry run mypy
  language: system
  stages:
  - pre-commit
  pass_filenames: false

rapidkit-modules-doctor-fast:
  name: rapidkit modules doctor (fast)
  entry: poetry run python scripts/modules_doctor.py
  language: system
  pass_filenames: false
  stages:
  - pre-commit
  args:
  - fast
  - --modules-from-diff
  - --no-json

update-modules-lock:
  name: update-modules-lock
  entry: poetry run rapidkit modules lock --overwrite
  language: system
  pass_filenames: false

chore(release): bump version to 0.3.0rc1
  poetry.lock
  pyproject.toml
Due: none

ci: handle missing community branch on promote
  .github/workflows/community-staging-promote-ff.yml
  poetry.lock
  pyproject.toml
Due: core-workflows-policy

chore(release): bump version to 0.3.0rc2
  poetry.lock
  pyproject.toml
Due: none

fix: use community push token in promote workflow
  .github/workflows/community-staging-promote-ff.yml
  poetry.lock
  pyproject.toml
Due: core-workflows-policy

chore(release): bump version to 0.3.0rc3
  poetry.lock
  pyproject.toml
Due: none

fix(workflows): validate PAT access before promote push
  .github/workflows/community-staging-promote-ff.yml
  poetry.lock
  pyproject.toml
Due: core-workflows-policy

chore(release): bump version to 0.3.0rc4
  poetry.lock
  pyproject.toml
Due: none

fix(workflows): use PAT for git push
  .github/workflows/community-staging-promote-ff.yml
Due: core-workflows-policy

ci: add PR-based promotion workflows
  .github/workflows/community-staging-promote-ff.yml
  .github/workflows/community-staging-promote-to-core-pr.yml
  .github/workflows/community-staging-tag-stable.yml
  poetry.lock
  pyproject.toml
Due: core-workflows-policy

chore(workflows): remove staging-only workflows
  .github/workflows/community-staging-ci.yml
  .github/workflows/community-staging-docker.yml
  .github/workflows/community-staging-promote-ff.yml
  .github/workflows/community-staging-publish.yml
  .github/workflows/community-staging-tag.yml
Due: core-workflows-policy

ci(workflows): add core publish workflow
  .github/workflows/core-publish.yml
Due: core-workflows-policy

chore(workflows): rename core publish workflow
  .github/workflows/core-publish.yml
Due: core-workflows-policy

ci(workflows): make core publish tag-based
  .github/workflows/core-publish.yml
Due: core-workflows-policy

chore(release): bump version to 0.3.0
  poetry.lock
Due: none

ci(workflows): harden stable tag auto-promote auth
  .github/workflows/community-staging-tag-stable.yml
  poetry.lock
Due: core-workflows-policy

Fix tag validation by updating git remote URL
  .github/workflows/community-staging-tag-stable.yml
Due: core-workflows-policy

chore(workflows): remove community-staging workflows from core
  .github/workflows/community-staging-promote-to-core-pr.yml
  .github/workflows/community-staging-tag-stable.yml
Due: core-workflows-policy

ci(workflows): allow stable tag without bump commit
  .github/workflows/community-staging-tag-stable.yml
  poetry.lock
Due: core-workflows-policy

ci(release): tag stable from pyproject and auto-release on publish
  .github/workflows/core-publish.yml
  .github/workflows/core-tag-stable.yml
  .github/workflows/python-publish.yml
Due: core-workflows-policy

ci(tag): auth git fetch when checking existing tags
  .github/workflows/core-tag-stable.yml
Due: core-workflows-policy

ci(publish): avoid non-distribution files in dist and tidy release
  .github/workflows/core-publish.yml
  .github/workflows/python-publish.yml
Due: core-workflows-policy

ci: decouple release from publish
  .github/workflows/core-publish.yml
  .github/workflows/python-publish.yml
Due: core-workflows-policy

ci: optionally sign stable tags
  .github/workflows/core-tag-stable.yml
Due: core-workflows-policy

chore(release): bump version to 0.3.1rc1
  poetry.lock
  pyproject.toml
Due: none

chore(release): set stable version 0.3.1
  pyproject.toml
Due: none

chore(release): update changelog
  .github/workflows/community-staging-tag-stable.yml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
  src/modules/free/ai/ai_assistant/.module_state.json
  src/modules/free/ai/ai_assistant/docs/changelog.md
  src/modules/free/ai/ai_assistant/module.yaml
  src/modules/free/ai/ai_assistant/templates/base/ai_assistant_health.py.j2
  src/modules/shared/utils/health.py
Due: core-workflows-policy, black, mypy, rapidkit-modules-doctor-fast, update-modules-lock

chore(release): bump version to 0.3.2rc1
  poetry.lock
  pyproject.toml
Due: none

chore(release): update changelog
  .github/workflows/community-staging-tag-stable.yml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: core-workflows-policy

chore(release): bump version to 0.3.2rc2
  poetry.lock
  pyproject.toml
Due: none

chore(release): finalize version to 0.3.2
  pyproject.toml
Due: none

chore(release): bump version to 0.3.3rc1
  poetry.lock
  pyproject.toml
Due: none

chore(release): finalize version to 0.3.3
  pyproject.toml
Due: none

chore(changelog): refresh promote snapshot from core/main..HEAD
  .github/workflows/core-publish.yml
  .github/workflows/core-tag-stable.yml
  .github/workflows/docker-build.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-release.yml
  CHANGELOG.md
Due: core-workflows-policy

fix(distribution): harden public docs/workflow and license mappings
  .github/workflows/community-staging-tag-stable.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/contributing/CODE_OF_CONDUCT.md
  docs/project/INDEX.md
  docs/user-guide/README.md
  poetry.lock
  pyproject.toml
Due: core-workflows-policy

chore(release): bump version to 0.3.4rc1
  poetry.lock
  pyproject.toml
Due: none

chore(release): finalize version to 0.3.4
  pyproject.toml
Due: none

Path conditions:
  core-workflows-policy: any of: ^\.github/workflows/.*\.ya?ml$
  black: any of: \.py$
  mypy: any of: \.py$
  rapidkit-modules-doctor-fast: any of: ^src/modules/
  update-modules-lock: any of: ^src/modules/
