Repository getrapidkit/rapidkit-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, mypy, update-modules-lock

.pre-commit-config.yaml:

default_language_version:
  python: python3.10.19
repos:
- repo: local
  hooks:
  - id: check-commit-message
    name: check-commit-message
    entry: poetry run python
    language: system
    args:
    - scripts/check_commit_message.py
    stages:
    - commit-msg
    pass_filenames: true
    additional_dependencies: []
  - id: github-actions-flag-status
    name: github-actions-flag-status
    entry: poetry run python
    language: system
    args:
    - scripts/check_actions_flag.py
    pass_filenames: false
    stages:
    - pre-commit
    verbose: true
  - id: black
    name: black (format)
    entry: poetry run black
    language: system
    types:
    - python
    args:
    - --quiet
    stages:
    - pre-commit
    require_serial: true
  - id: ruff
    name: ruff (lint & fix)
    entry: poetry run ruff
    language: system
    types:
    - python
    args:
    - check
    - --fix
    - --quiet
    - .
    pass_filenames: false
    stages:
    - pre-commit
    always_run: true
    require_serial: true
  - id: mypy
    name: mypy (type-check)
    entry: poetry run mypy
    language: system
    types:
    - python
    stages:
    - pre-commit
    pass_filenames: false
  - id: update-modules-lock
    name: update-modules-lock
    entry: poetry run rapidkit modules lock --overwrite
    language: system
    files: ^src/modules/
    pass_filenames: false
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
    name: trailing-whitespace (fix)
    types:
    - text
    args:
    - --markdown-linebreak-ext=md
  - id: end-of-file-fixer
    name: end-of-file-fixer
    types:
    - text
    exclude: module\.verify\.json$
  - id: mixed-line-ending
    name: mixed-line-ending (fix)
    types:
    - text
    args:
    - --fix=lf
  - id: check-yaml
    name: check-yaml
    types:
    - yaml
  - id: check-json
    name: check-json
    types:
    - json
  - id: check-toml
    name: check-toml
    types:
    - toml
  - id: check-merge-conflict
    name: check-merge-conflict
    types:
    - text
  - id: check-added-large-files
    name: check-added-large-files
    args:
    - --maxkb=500
  - id: check-case-conflict
    name: check-case-conflict
  - id: check-shebang-scripts-are-executable
    name: check-shebang-scripts-are-executable
    types:
    - text
    exclude: \.j2$
- repo: https://github.com/psf/black
  rev: 24.8.0
  hooks:
  - id: black
    name: black (double-check)
    stages:
    - pre-commit
    language_version: python3
    args:
    - --check
    - --diff
- repo: https://github.com/charliermarsh/ruff-pre-commit
  rev: v0.6.8
  hooks:
  - id: ruff
    name: ruff (double-check)
    stages:
    - pre-commit
    args:
    - --exit-zero
    - .
    pass_filenames: false
    always_run: true
- repo: https://github.com/executablebooks/mdformat
  rev: 0.7.17
  hooks:
  - id: mdformat
    name: mdformat (markdown formatter)
    additional_dependencies:
    - mdformat-gfm
    - mdformat-black
    args:
    - --wrap=100
- repo: https://github.com/shellcheck-py/shellcheck-py
  rev: v0.10.0.1
  hooks:
  - id: shellcheck
    name: shellcheck (shell script linter)
    args:
    - -e
    - SC1091
    - -e
    - SC2002

fix(docs): polish public docs and add missing ddd kit license
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/contributing/CODE_OF_CONDUCT.md
  docs/project/INDEX.md
  docs/user-guide/README.md
  licenses/kits/fastapi.ddd.json
Due: none

chore(changelog): refresh promote snapshot from core/main..HEAD
  .github/workflows/core-publish.yml
  .github/workflows/core-tag-stable.yml
  .github/workflows/docker-build.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-release.yml
  CHANGELOG.md
Due: none

fix(gate): install dev extras in distribution smoke
  .github/workflows/community-staging-ci.yml
  .github/workflows/community-staging-tag-stable.yml
  CHANGELOG.md
  Makefile
  README.md
  docs/readme-templates/community.md
  poetry.lock
  pyproject.toml
  scripts/run_distribution_tests.py
  src/core/config/version.py
Due: black, mypy

fix(modules): prefer manifest fields in modules info
  CHANGELOG.md
  pyproject.toml
  src/cli/commands/modules.py
Due: black, mypy

fix(ci): install dev extras in community staging workflows
  .github/workflows/community-staging-ci.yml
  .github/workflows/community-staging-tag-stable.yml
  CHANGELOG.md
Due: none

fix(ci): support poetry dev group in community distribution
  .github/workflows/community-staging-ci.yml
  .github/workflows/community-staging-tag-stable.yml
  CHANGELOG.md
  Makefile
  poetry.lock
  pyproject.toml
Due: none

fix(distribution): emit tool.poetry dependencies for poetry 1.8 lock
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: none

chore(release): bump version to 0.3.8rc1
  poetry.lock
  pyproject.toml
Due: none

chore(release): finalize version to 0.3.8
  pyproject.toml
Due: none

fix(init): improve init robustness and reduce lock-sync noise
  pyproject.toml
  src/cli/commands/init.py
  src/kits/nestjs/standard/templates/src/modules/index.ts.j2
Due: black, mypy

chore(changelog): add 0.3.9 release notes
  CHANGELOG.md
Due: none

chore(release): align tool.poetry version with v0.3.9 tag
  pyproject.toml
Due: none

chore(community): add onboarding automation and channel templates
  .github/CONTRIBUTING.md
  .github/CONTRIBUTOR_MESSAGES.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/contributor-onboarding.yml
  .github/workflows/welcome.yml
  docs/Github/README.md
  docs/Github/announcement-discord.md
  docs/Github/announcement-linkedin.md
  docs/Github/announcement-slack.md
  docs/Github/announcement-x.md
  docs/Github/contributor-onboarding-post.md
  docs/Github/release-github.md
Due: none

docs(licensing): update broker setup and production deploy
  CHANGELOG.md
  README.md
  docs/readme-templates/community.md
  kits_manifest.json
  poetry.lock
  pyproject.toml
  src/cli/commands/doctor.py
  src/cli/commands/init.py
  src/cli/commands/license.py
  src/cli/main.py
  src/cli/utils/scaffold/templates/documentation.py
  src/cli/utils/scaffold/templates/module_files.py
  src/cli/utils/scaffold/templates/repository_tests.py
  src/core/config/version.py
  src/core/kit_utils.py
  src/core/license_utils.py
  src/core/services/module_path_resolver.py
  src/kits/base/templates/common/.rapidkit/rapidkit.j2
  src/kits/nestjs/standard/templates/src/modules/index.ts.j2
  src/modules/free/essentials/settings/.module_state.json
  src/modules/free/essentials/settings/docs/changelog.md
  src/modules/free/essentials/settings/frameworks/nestjs.py
  src/modules/free/essentials/settings/module.yaml
  src/modules/shared/utils/health.py
  tests/core/services/test_config_loader.py
  tests/core/services/test_project_creator_service.py
  tests/integration/test_postgres_integration.py
  tests/modules/free/communication/email/test_email_runtime.py
  tests/modules/free/essentials/logging/test_logging_health_check.py
  tests/modules/free/essentials/settings/test_settings_overrides.py
  tests/modules/free/integration/database/test_postgres_integration.py
  tests/modules/free/registry/test_free_modules_registry.py
  tests/modules/free/security/cors/test_cors_integration.py
  tests/modules/free/security/security_headers/conftest.py
  tests/modules/shared/cli/test_modules_commands.py
  tests/modules/shared/snippet_injector/test_snippet_injector_comprehensive.py
  tests/modules/shared/test_template_renderer.py
  tests/services/test_dependency_installer_sync.py
Due: black, mypy, update-modules-lock

fix(type): avoid optional import mypy errors
  CHANGELOG.md
  src/cli/commands/license.py
  src/core/services/module_path_resolver.py
Due: black, mypy

chore(release): bump version to 0.4.0rc1
  poetry.lock
  pyproject.toml
Due: none

chore(release): finalize version to 0.4.0
  pyproject.toml
Due: none

chore(changelog): refresh promote snapshot from core/main..HEAD
  .github/workflows/contributor-onboarding.yml
  .github/workflows/core-publish.yml
  .github/workflows/core-tag-stable.yml
  .github/workflows/docker-build.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-release.yml
  .github/workflows/welcome.yml
  CHANGELOG.md
Due: none

chore(release): bump version to 0.5.0rc1
  poetry.lock
  pyproject.toml
Due: none

chore(release): finalize version to 0.5.0
  pyproject.toml
Due: none

fix: align distribution workflows with rapidkitlabs org
  .github/workflows/community-staging-docker.yml
  .github/workflows/community-staging-promote-to-core-pr.yml
  .github/workflows/community-staging-tag-stable.yml
  CHANGELOG.md
  poetry.lock
  tests/modules/free/ai/ai_guardrails/test_ai_guardrails_validation.py
  tests/modules/free/ai/llm_gateway/conftest.py
  tests/modules/free/ai/tool_registry/test_tool_registry_validation.py
Due: black, mypy

chore(release): bump version to 0.5.0rc2
  poetry.lock
  pyproject.toml
Due: none

fix: curate staging promotion into public core
  scripts/check_version_alignment.py
Due: black, mypy

chore: investigate free/ai/rag_pipeline stabilization (logs + tests)
  src/modules/free/modules.yaml
Due: update-modules-lock

chore: add generator contract tests and module metadata updates
  src/modules/free/business/approval_engine/.module_state.json
  src/modules/free/business/approval_engine/docs/changelog.md
  src/modules/free/business/approval_engine/module.yaml
  src/modules/free/business/storage/.module_state.json
  src/modules/free/business/storage/docs/changelog.md
  src/modules/free/business/storage/module.yaml
  src/modules/free/business/storage/templates/variants/nestjs/storage.health.ts.j2
  src/modules/free/database/db_mongo/.module_state.json
  src/modules/free/database/db_mongo/docs/changelog.md
  src/modules/free/database/db_mongo/module.yaml
  src/modules/free/database/db_mongo/templates/snippets/db_mongo_settings_fields_nestjs.snippet.j2
  src/modules/free/database/db_sqlite/.module_state.json
  src/modules/free/database/db_sqlite/docs/changelog.md
  src/modules/free/database/db_sqlite/module.yaml
  src/modules/free/database/db_sqlite/templates/snippets/db_sqlite_settings_fields_nestjs.snippet.j2
  src/modules/free/security/cors/.module_state.json
  src/modules/free/security/cors/docs/changelog.md
  src/modules/free/security/cors/module.yaml
  src/modules/free/security/cors/templates/variants/nestjs/cors.health.ts.j2
  tests/modules/free/ai/agent_runtime/test_agent_runtime_generator_contract.py
  tests/modules/free/business/approval_engine/test_approval_engine_generator_contract.py
  tests/modules/free/business/storage/test_storage_framework_variants.py
  tests/modules/free/business/storage/test_storage_generator.py
  tests/modules/free/business/storage/test_storage_plugin_contracts.py
Due: black, mypy, update-modules-lock

chore: add generator contract tests and module metadata updates
  src/modules/free/modules.yaml
Due: update-modules-lock

fix(release): persist promote manifest and harden stable tag
  .gitignore
Due: none

fix(release): anchor promote chain to staging tags and source.json
  .gitignore
Due: none

chore(release): record promote manifest for v0.5.2
  .rapidkit/release/promote-manifest.json
  pyproject.toml
  src/core/config/version.py
Due: black, mypy

chore(release): record promote manifest for v0.5.3
  .rapidkit/release/promote-manifest.json
  CHANGELOG.md
  pyproject.toml
  src/core/config/version.py
Due: black, mypy
